# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    env(DATABASE_HOST): db
    env(DATABASE_PORT): 3306
    env(DATABASE_NAME): finanz-training
    env(DATABASE_USER): root
    env(DATABASE_PASSWORD): 123456
    env(DATABASE_SOCKET): '/tmp/mysql.sock'

    env(MAILER_USER): null
    env(MAILER_PASSWORD): null
    env(MAILER_TRANSPORT): gmail
    env(MAILER_RECIPIENTS): 'recipient1@gmail'

    #env(JWT_PRIVATE_KEY_PATH): '%kernel.root_dir%/../var/jwt/private.pem'
    #env(JWT_PUBLIC_KEY_PATH): '%kernel.root_dir%/../var/jwt/public.pem'
    env(JWT_KEY_PASS_PHRASE): 'DlbF1|l)U8HI:m$'
    env(JWT_TOKEN_TTL): 10800

    env(SECRET): ad786724427e2f560f84459259d5d9f9
